html{
	box-sizing: border-box;
	background-color: #aaa;
	height: 100%;
	bottom: 0;
	overflow: auto;
}

html,
body,
div,
h1,
p,
a
video {
	margin: 0;
	padding: 0;

}

html{
	overflow: hidden;
}

*, *:before, *:after{
	box-sizing: inherit;
	font-family: "Helvetica", sans-serif;
}

body{
	height: 100%;
	position: relative;
	background-color: hsla(0,0%,0%,0.75);
	background-image: url("media/tiles.png");
	background-repeat: repeat;
	overflow: auto;
}

main{
	background-color: transparent;
	margin: 20px 15px;
	color: #fff;
	padding: 15px 30px;
}


@media only screen and (max-width: 768px) {
	video{
		display: none;
	}
}

@media only screen and (max-height: 640px) {
	html body .wrapper{
	position: absolute;
	top: 0;
	transform: translate(-50%, 0%);
}
	
}

label{
	padding: 10px 5px;
	margin: 0;
	width: 100%;
}

header{
	background-color: #000;
	color: #fff;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
}

header h1{
	margin: 10px 0;
	font-size: 36px;
	font-family: "Helvetica Neue", Arial, sans-serif;
}



select{
	height: 50px;
	text-align: center;
	width: 100%;
	border: none;
	font: 300 1em/100% "Helvetica Neue", Arial, sans-serif;
	line-height: 1.5em;
	padding: 0.5em 3.5em 0.5em 1em;
	border-radius: 10px;
	text-align: center;
}

main select{
	color: #000;
	font-size: 16px;
	text-align: center;
}

footer{
	margin-top: 30px;
	clear: both;
	height: auto;
	display: block;
	padding: 20px;
	color: hsla(0,0%,100%,0.25);
}

option{
	color: #000;

}

body, div, .row, main{
	border-radius: 10px;
}

div a{
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
}


div>h2{
	display: block;
	top: 15px;
	position: relative;
	margin-bottom: 40px;
}


footer>div{
	margin-top: 10px;
}

footer:last-child{
	margin-bottom: 20px;

}

legend{
	visibility:  hidden;

}

button{
	border: none;
}

body .wrapper{
	text-align: center;
	max-width: 1000px;
	background-color: hsla(0,0%,0%,0.75);
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 100%;
	padding: 0 ;
}

.journey-description{
	width: 80%;
}

.js-playlist-entry{
	border: 1px solid white;
	width: 100%;
	padding: 5px;
	text-align: left;

}

.js-playlist-entry p{
	display: inline;
}

.js-song-name{
	text-align: left;
	overflow: scroll;
}

.js-song-time{
	float: right;
	overflow: normal;
	max-width: 220px;
}


/*/*//*/*//*/*//*/*//*!!!Buttons!!!Buttons!!!Buttons!!!*//*/*//*/*//*/*//*/*/
.js-blue-btn, .js-red-btn, .js-green-btn, .js-black-btn, #login-button, .submit{
	height: 50px;
/*	float: left;*/
	display: block;
	border-radius: 10px;
	margin: 0 auto;
	width: 100%;
	max-width: 300px;
}

.js-green-btn, .submit{
	background-color: #02BB4F;
}

.js-green-btn:hover, .submit:hover{
	background-color: #97FFB7;
	border-radius: 10px;
	color: #000;
}

.js-green-btn:active, .submit:active{
	background-color: #555;
}

.js-green-btn:hover a, .submit:hover a{
	color: #000;
	text-decoration: none;
}

.js-black-btn{
	background-color: #0E5423;
}

.js-black-btn:hover, #login-button:hover{
	background-color: #97FFB7;
	color: #000;
}

.js-black-btn:active{
	background-color: #18913C;
	color: #000;
}

.js-black-btn:hover a, #login-button:hover a{
	text-decoration: none;
	color: #000;
}


.js-black-btn a, .js-green-btn a, #login-button a{
	height: 100%;
	line-height: 50px;
	white-space: nowrap;
}

.submit{
	margin-top: 15px;
}

.js-view-playlist{
	padding: 0;
}

.js-wait-time{
	display:none;
}

.warning{
	display: none;
	background-color: #f00;
	color: #fff;
}

.red{
	background-color: #f00;
	color: #fff;
	padding: 15px;
}

.media-object{
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	float: none;
}

.video{
	position: static;
	z-index: 1;
	top: 50%; left: 50%;
	transform: translate(0,0);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	overflow: hidden;

}

.navigation{
	padding: 10px;	
}


.black-link{
	width: 50%;
	border-radius: 10px;
	margin: 10px auto;
	padding: 15px;

}

.description{
	padding: 10px;
	margin-bottom: 0;
}

.description p{
	font-size: 28px;
	margin-bottom: 15px;
	margin-top: 0px;
}


.metley-description{
	padding: 10px;
	margin: 15px;
	font-size: 20px;
}

.no-overflow{
}

.tiles{
	background-image: url("media/tiles.png");
	background-repeat: repeat;
}

.subtle{
	color: #aaa;
}

.center{
	margin: 0 auto;
	display: block;
	width: 50%;
}

/* Progress bar */
#progress-wrapper{
	width: 100%;
	height: 100%;
	background-color: rgba(80, 80, 80, .8);
	position: fixed;
	display: none;
	align-items: center;
	justify-content: center;
	top: -20;
	left: 0;
	z-index: 2;
}

#progress{
	width: 50%;
	background-color: #ddd;
	padding: 0;
}

#progress-bar{
	width: 1%;
	height: 30px;
	background-color: #02BB4F;
}

#mood, #destination, #location{
	text-transform:capitalize;
	max-width: 300px;

}

#about{
	margin-top: 10px;
}

#login-button{
	z-index: 3;
}